<!DOCTYPE html>
<html lang="en">

<head>
    <title>Memo-apuri</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./style/css/style.css">
</head>

<body>
    <div class="materialContainer">
        <div class="box">
            <div class="title">LOGIN</div>
            <form id="login" class="needs-validation">
                <div class="form-group input">
                    <input type="email" placeholder="Enter email" name="email" required>
                    <span class="spin"></span>
                </div>
                <div class="form-group input">
                    <input type="password" placeholder="Enter password" name="password" required></textarea>
                    <span class="spin"></span>
                </div>
                <button type="submit" class="button btn btn-outline-dark btn-lg my-2">Login</button>
                <a href="#" class="pass-forgot">Forgot your password?</a>
            </form>
        </div>
        <div class="overbox">
            <div class="material-button alt-2"><span class="shape"></span></div>
            <div class="title">REGISTER</div>
            <form action="/user/register" method="post" id="register" class="needs-validation">
                <div class="form-group input">
                    <input type="email" placeholder="Enter email" name="email" required>
                    <span class="spin"></span>
                </div>
                <div class="form-group input">
                    <input type="password" placeholder="Enter password" name="password" required></textarea>
                    <span class="spin"></span>
                </div>
                <button type="submit" class="button btn btn-outline-dark btn-lg my-2">Register</button>
            </form>
        </div>
    </div>
</body>

<script src="./script/login.js"></script>
<script src="./script/login_api.js"></script>
<script src="./script/helper.js"></script>

</html>